{% extends 'SamGunBundle:Default:index.html.twig' %}
{% block body %}
  <div class ="container">
    <header class="row">
      <h1 class ="col-md-offset-4 col-md-6">Statistiques Demandés</h1>
    </header>
    {% if tableau1 is empty %}
      <div class = "row" >
        <div class = "col-md-11 col-md-offset-1">
          <h3> Pas de Statistique </h3>
        </div>
      </div>
    {% else %}
    <div class = "row">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Type</th>
          <th>Valeur</th>
        </tr>
      </thead>
      <tbody>
        {% for t1 in tableau1 %}
          <tr >
            <td><h3>{{t1.title}}</h3></td>
            <td>
            {{t1.value}}
            {% if t1.p %}
                  %
              {% endif %}
          </td>
        </tr>
      {% endfor %}
    </div>
    {% endif %}
</diV>
{% endblock %}
